*{

    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.about{
    width:  100%;
    padding: 78px 0px;
    /*background-color: ;*/

}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.st-key-Jada button:hover{
    color:blue;
    background-color:#f8f8f8;
    border: none;
}

.st-key-Create button:hover{
    color:blue;
    background-color:#f8f8f8;
    border: none;
}

.st-key-c button:hover{
    color:blue;
    background-color:#f8f8f8;
    border: none;
}

.st-key-login button:hover{
    color:blue;
    background-color:#f8f8f8;
    border: none;
}


.st-key-Help button:hover{
    color:red;
    background-color:#f8f8f8;
    border: none;
}

.st-key-OOPS button:hover{
    color:blue;
    background-color:#f8f8f8;
    border: none;
}
.st-key-NAFI button:hover{
    color: blue;
    background-color: #f8f8f8;
    border: none;

}

.st-key-JUAN button:hover{
    color: blue;
    background-color: #f8f8f8;
    border: none;

}
.st-key-JONJON button:hover{
    color:blue;
    background-color: #f8f8f8;
    border: none;

}
.st-key-Try button:hover{
    color:blue;
    background-color: #f8f8f8;
    border: none;
}

.st-key-green button:hover{
    color:blue;
    background-color: #f8f8f8;
    border: none;
}

.st-key-red button:hover{
    color:blue;
    background-color: #f8f8f8 ;
    border: none;
}

.st-key-black button:hover{
    color:blue;
    background-color: #f8f8f8;
    border: none;
}

